
  <div class="d-flex">
    <table class="bg-white table-sm card">
      <div class="card-body">
        <tr>
          <th >ID</th>
          <td>{{ticket.id}}</td>
        </tr>
        <tr>
          <th>Topic</th>
          <td>{{ticket.topic}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ticket.status}}</td>
        </tr>
        <tr>
          <th>Last Update</th>
          <td class="text-secondary"></td>
        </tr>
        <tr>
          <th>Date received</th>
          <td>{{ticket.dateReceived | date}}</td>
        </tr>
        <tr>
          <th>Deadline</th>
          <td>{{ticket.deadline | date}}</td>
        </tr>
        <tr>
          <th>Customer owner: </th>
          <td class="text-secondary">ticket.user.name</td>
        </tr>
        <br>
        <tr><th>Customer:</th></tr>
        <tr><td colspan="3">{{ticket.customer.name}}</td></tr>
        <tr><td colspan="3"> {{ticket.customer.email}}</td></tr>
        <tr><td colspan="3"> {{ticket.customer.phoneNumber}} </td></tr> 
       
        <br>
        <tr><th>Details:</th></tr>
        <tr><td>{{ticket.details}}</td></tr>
        
      </div>
    </table>
    <div *ngIf="ticketHasNotes()"  class="card card-body">
      <h6 class="card-subtitle text-muted">Recent updates:</h6>
      <div *ngFor="let note of ticket.notes">
        <div class="card-body">
          <!-- Note created , current status-->
          <p class="text-secondary">{{note.date | date}}</p>
          <!-- Content -->
          <p>{{note.content}}</p>
          <!-- Author  -->
          <small class="text-secondary text-right w-100">{{note.author}}</small>
        </div>
      </div>
    </div>
  </div>  

<div class="notes mt-2">
  <!-- <form>
    <div class="form-group">
      <label for="notes">Add a note:</label>
      <textarea class="form-control" id="notes" cols="75" rows="4"></textarea>
      Status: 
      <select class="form-control">
        <option>Unsolved</option>
        <option>Solved</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-info" value="Submit">
    </div>
  </form> -->
  <!-- <app-new-note></app-new-note> -->
</div>
