
  <div class="d-flex">
    <table class="bg-white table-sm card">
      <div class="card-body">
      <h3 class=" mb-4 card-title">#{{ticket.id}}  {{ticket.topic}}</h3>
      <div class="my-2">
        <tr><th>Details:</th></tr>
        <tr><td>{{ticket.details}}</td></tr>
      </div>
        <tr>
          <th>Status</th>
          <td>{{ticket.status}}</td>
        </tr>
        <tr *ngIf="!isStatusPending()">
          <th>Last Update</th>
          <span *ngFor="let note of ticket.notes; last as isLast"><td *ngIf="isLast">{{note.date | date}}</td></span>
        </tr>
        <tr>
          <th>Date received</th>
          <td>{{ticket.dateReceived | date}}</td>
        </tr>
        <tr>
          <th>Deadline</th>
          <td>{{ticket.deadline | date}}</td>
        </tr>
        <tr *ngIf="!isStatusPending()">
          <th>Customer owner: </th>
          <td class="text-secondary">{{ticket.username}}</td>
        </tr>
        <br>
        <tr><th>Customer:</th></tr>
        <tr><td colspan="3">{{ticket.customer.name}}</td></tr>
        <tr><td colspan="3"> {{ticket.customer.email}}</td></tr>
        <tr><td colspan="3"> {{ticket.customer.phoneNumber}} </td></tr> 
        <tr><th>Preferred contact method:</th></tr>
        <tr><td>{{ticket.preferredContactMethod}}</td></tr>
      </div>
    </table>
    <div  *ngIf="ticketHasNotes() else elseBlock" class="card card-body">
      <h6 class="card-subtitle my-3">Recent updates:</h6>
      <div *ngFor="let note of ticket.notes">
        <div>
          <div class="d-flex">
              <p class="text-secondary">{{note.date | date}}</p>
              <p class=" text-right">, {{note.author}}</p>
          </div>  
          <p>{{note.content}}</p>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
    <div class="card card-body">
      <h6 class="text-center">No updates yet</h6>
    </div>
  </ng-template>
  </div>  

<div class="m-2">
  <form  #ticketForm="ngForm">
    <div class="form-group" >
      <label for="status">Change status:</label>
      <select class="form-control mb-2" id="status" #status='ngModel' [(ngModel)]="ticket.status" name="status">
        <option [ngValue]="Unsolved">Accepted/Unsolved</option>
        <option [ngValue]="Solved">Solved</option>
      </select>
    </div>
  </form>

  <form  class="mt-2" (ngSubmit)="saveNoteAndUpdateTicket(); this.getTicket()"  #noteForm="ngForm">
    <div class="form-group" >
      <label for="note">Add a note:</label>
      <textarea #content='ngModel' [(ngModel)]="note.content" name="content" type="text"  class="form-control" id="note" cols="75" rows="4"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-info" value="Submit">
    </div>
  </form>
</div>
