<div class="ticket-list card-body">
  <div class="card-title">
    <a routerLink="/karolina/tickets"><strong>Tickets</strong></a>
    <small><a href="#" class="text-secondary"> See Unsolved »</a></small>
    <small><a href="#" class="text-secondary"> See Solved » </a></small>
    <small><a href="#" class="text-secondary"> See all » </a></small><br>
    <button class="btn btn-info" routerLink="/karolina/new_ticket/-1">Create a ticket</button>
  </div>
    <!-- <div class="alert alert-success my-4" *ngIf="message">{{message}}</div> -->
    <!-- <div class="alert alert-success" *ngFor = "let data of datas">{{data[message]}}></div> -->
    <!-- <table *ngIf="haveTickets() else elseBlock" class="table my-4"> -->
    <table class="table my-4 table-hover">
      <thead>
        <tr>
          <th>ID</th> 
          <th>Topic</th>
          <th>Status</th>
          <th>Last Update</th>
          <th>Date received</th>
          <th>Deadline</th>
          <th>Customer owner</th>
          <th>Customer ID</th>
          <th>Urgency</th>
        </tr>
      </thead>
      <!-- <tbody>
        if a complaint is overdue - show red on top of the list -->
        <!-- <tr>
          <td>132</td>
          <td>Problem with account</td>
          <td>Accepted/Unsolved</td>
          <td>Apr 30</td>
          <td>Apr 30</td>
          <td>May 2</td>
          <td>Karolina Langner</td>
          <td>#12343</td>
          <td>🟢</td>
        </tr>
        <tr>
          <td>133</td>
          <td>Missing funds</td>
          <td>Accepted/Unsolved</td>
          <td>May 1</td>
          <td>Apr 30</td>
          <td>May 2</td>
          <td>Karolina Langner</td>
          <td>#12343</td>
          <td>🔴</td>
        </tr> -->
        <tbody *ngFor="let ticket of tickets">
        <tr style="cursor: pointer;" (click)="lookUpTicket(ticket.id)" >
          <td >{{ticket.id}}</td>
          <td>{{ticket.topic}}</td>
          <td>{{ticket.status}}</td>
          <td>{{ticket.deadline | date}}</td>
          <td>{{ticket.dateReceived | date}}</td>
          <td>May 2</td>
          <td>Karolina Langner</td>
          <td>#12343</td>
          <td>🔴</td>
       </tr>
      
      </tbody>
      <!-- <tbody class="my-4">
        <tr *ngFor="let ticket of tickets">
          <td>{{ticket.id}}</td>
          <td>{{ticket.targetDate | date}}</td>
          <td *ngIf="ticket.solved else elseBlock">✔</td>
          <ng-template #elseBlock><td>❌</td></ng-template>
        </tr>
      </tbody>  -->
    </table>
  <!-- <ng-template #elseBlock><h4 class="text-center my-4"No tickets</h4></ng-template>
  <button (click)="addTodo()" class="btn btn-warning my-4 mx-auto">Add a Todo</button> -->
</div>
