<div *ngIf="ticketsInQueue() else elseBlock" class="ticket-list card-body">
  <div class="card-title">
    <h6 class="btn card-subtitle text-muted" > Your Unsolved Tickets</h6>
    <table class="table my-4 table-hover">
      <thead>
        <tr>
          <th>ID</th> 
          <th>Topic</th>
          <th>Status</th>
          <th>Last Update</th>
          <th>Date received</th>
          <th>Deadline</th>
          <th>Customer owner</th>
          <th>Customer ID</th>
        </tr>
      </thead>

        <tbody *ngFor="let ticket of tickets">
        <tr style="cursor: pointer;" (click)="lookUpTicket(ticket.id)" >
          <td>{{ticket.id | number}}</td>
          <td>{{ticket.topic}}</td>
          <td>{{ticket.status}}</td>
          <span *ngFor="let note of ticket.notes; last as isLast"><td *ngIf="isLast">{{note.date | date}}</td></span>
          <td>{{ticket.dateReceived | date}}</td>
          <td class="text-danger">{{ticket.deadline | date}}</td>
          <td>{{ticket.username}}</td>
          <td>{{ticket.customer.name}}</td>
      </tr>
      
      </tbody>
    </table>
  </div>
</div>
<ng-template #elseBlock><h6 class="text-center">You have no overdue tickets!</h6></ng-template>