<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a  routerLink="{{username}}/dashboard" class="navbar-brand ">Customer Complaint Manager</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white mx-2 btn btn-secondary" routerLink="{{username}}/dashboard">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mx-2 btn btn-secondary" routerLink="{{username}}/tickets">Tickets </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white mx-2 btn btn-secondary" routerLink="/{{username}}/statistics">Statistics </a>
      </li>
    </ul>
      <ul class="navbar-nav navbar-collapse justify-content-end">
         <li class="nav-item">
          <a class="nav-link text-white mx-2 btn btn-secondary mr-4" routerLink="/{{username}}/new_ticket/">New Ticket </a>
        </li>
        <li>
            <a *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link" routerLink="/login">Login</a>
        </li>
        <li>
            <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link" (click)="authenticationService.logout()">Logout</a>
        </li>
      </ul>
  </nav>
</header>