.dashboard-report{
    padding: 15px;
    background: white;
    border: lightgray solid 1px;
    border-radius: 4px;
    text-align: center;
}

.dashboard-report h5 {
    margin: 14px 0;
}
.dashboard-cards{
    display:flex;
    justify-content: center;

}

.dashboard-card {
    min-width: 18%;
    min-height: max-content;
    padding: 15px;
    margin: 2px 5px;
    border: lightgray solid 1px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-card .title{
    min-height:110px;
    text-align: center;
    
}
.dashboard-card .title p{
    margin:0;
    min-height: 47px;
}

.dashboard-card .text{
    margin:auto;
    font-size: 20px;
    text-decoration: underline;
}

.red {
    background-color: rgba(255, 83, 83, 0.103);
}

.blue {
    background-color: rgba(71, 187, 255, 0.11);
}