
<div class="my-2 stats-category">
  <h5>Source</h5>
  <div class="stats-cards">
    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Email</h6>
      </div>
      <p class="title">All time</p>
      <p class="text">{{byEmailAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="text">{{byEmail30Days}}</p>
      <p></p>
    </div>

    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Phone</h6>
      </div>
      <p class="title">All time</p>
      <p class="">{{byPhoneAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="">{{byPhone30Days}}</p>
      <p></p>
    </div>

    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Post</h6>
      </div>
      <p class="title">All time</p>
      <p class="">{{byPostAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="">{{byPost30Days}}</p>
    </div>
  </div>
</div>

<div class="my-2 stats-category">
  <h5>Source</h5>
  <div class="stats-cards">
    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Email</h6>
      </div>
      <p class="title">All time</p>
      <p class="">{{byEmailAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="">{{byEmail30Days}}</p>
      <p></p>
    </div>

    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Phone</h6>
      </div>
      <p class="title">All time</p>
      <p class="">{{byPhoneAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="">{{byPhone30Days}}</p>
      <p></p>
    </div>

    <div class="stats-card">
      <div class="card-head">
        <h6>Tickets received by Post</h6>
      </div>
      <p class="title">All time</p>
      <p class="">{{byPostAll}}</p>
      <p class="title">Last 30 days</p>
      <p class="">{{byPost30Days}}</p>
    </div>
  </div>
</div>