.stats-category{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: white;
    border: lightgray solid 1px;
    border-radius: 4px;
}

.stats-cards{
    display:flex;
    justify-content: center;
    margin: 5px 0;
}

.stats-card {
    background: white;
    min-width: 18%;
    margin: 2px 5px;
    border: lightgray solid 1px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-head{
    background: #008b8b5c;
    padding: 15px;
}

.stats-card .title{
    background: #d3d3d352;
    padding: 5px;
    width:100%;
    text-align: center;
   
}

.stats-card .text{
    margin:auto;
}